{% macro display_result(result) %}
    {% import _self as searchHelper %}
    {% if result.entity_s == 'article' %}
        {{ searchHelper.display_article_result(result) }}
    {% elseif result.entity_s == 'bibitem' %}
        {{ searchHelper.display_bibitem_result(result) }}
    {% else %}
        {{ searchHelper.display_other_result(result) }}
    {% endif %}
{% endmacro %}

{% macro build_result_path(result) %}
    {% set parts = result.id|split('_') %}
    {% if parts[0] == 'sourcearticle' %}
        {% set route = 'source' %}
        {% set params = { 'uid' : result.uid_s } %}
    {% elseif parts[0] == 'article' %}
        {% if result.article_section_s == 'background' %}
            {% set route = 'topic-background' %}
        {% else %}
            {% set route = 'article' %}
        {% endif %}
        {% if result.slug_s is not empty %}
            {% set params = { 'slug' : result.slug_s } %}
        {% else %}
            {% set params = { 'slug' : result.uid_s } %}
        {% endif %}
    {% elseif parts[0] == 'exhibitionarticle' %}
        {% set route = 'exhibition' %}
        {% set params = { 'slug' : result.slug_s } %}
    {% elseif parts[0] == 'bibitem' %}
        {% set route = 'bibliography'  %}
        {% set params = { 'slug' : result.slug_s } %}
    {% else %}
        {% set route = parts[0]  %}
        {% set params = { 'id' : parts[1] } %}
    {% endif %}
    {{ path(route, params) }}
{% endmacro %}

{% macro display_other_result(result) %}
    {% import _self as searchHelper %}
    <h4><a href="{{ searchHelper.build_result_path(result) }}">{{ result.name_order_s }}</a></h4>
{% endmacro %}

{% macro display_article_result(result) %}
    {% import _self as searchHelper %}
    <h4><a href="{{ searchHelper.build_result_path(result) }}">{{ result.name_order_s }}</a></h4>
    {{ result.author_ss|join(', ') }}
{% endmacro %}

{% macro display_bibitem_result(result) %}
    {% import _self as searchHelper %}
    <h4><a href="{{ searchHelper.build_result_path(result) }}">{{ result.additional_s|renderCitation }}</a></h4>
    {{ result.author_ss|join(', ') }}
{% endmacro %}
