{% extends '@TeiEdition/Default/base.html.twig' %}

{% import '@TeiEdition/Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>Persons by <a href="{{ path('person-by-year') }}">Year of Birth / Death</a></li>
                <li>Persons by <a href="{{ path('person-by-place') }}">Place of Birth / Death</a></li>
                <li><a href="{{ path('person-birth-death') }}">Life Paths</a></li>
                <li>Articles by <a href="{{ path('article-by-topic') }}">Topic</a></li>
                <li>Sources by <a href="{{ path('source-by-year') }}">Year</a></li>
            </ul>
        </div>
    </div><!-- .row -->
{% endblock %}
