{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}
{% import 'AppBundle:Shared:entity-lookup.html.twig' as entityLookup %}

{% block head %}
    {# TODO: move to some shared style-sheet #}
    <style>
    #authors, #license {
        display: none;
    }
    </style>

    {{ entityLookup.head(entity_lookup, glossary_lookup) }}
    <script>
    $(function () {
        initEntityGlossaryNote('.article');
    })
    </script>
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    {% if authors is not empty %}
        <div class="author">
            <a href="#author">
            {% for author in authors %}
                {{ author.text }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
            {{ 'Content'|trans }}
            </div>
            <div class="panel-body">
            {% if section_headers is not empty %}
                {% for header in section_headers %}
                    <p><a href="#{{ header['id'] }}">{{ header['text'] }}</a></p>
                {% endfor %}
                <hr />
            {% endif %}
            {% if authors is not empty %}
                <p><a href="#author">{{ helper.article_author_aboutlabel(authors) }}</a></p>
            {% endif %}
            <p><a href="#citation">{{ 'Recommended Citation and License Statement'|trans }}</a></p>
            </div>
        </div>

        {{ html|raw }}

        {% if authors is not empty %}
        <h2 id="author">{{ helper.article_author_aboutlabel(authors) }}</h2>
            {% for author in authors %}
        <p>{% if author.description is defined %}{{ author.description }}{% else %}{{ author.text }}{% endif %}</p>
            {% endfor %}
        {% endif %}

        {{ helper.article_citation(article, meta, authors, name) }}

        {{ helper.article_license(license) }}
        </div><!-- .col -->

        <div class="col-xs-12 col-sm-4 sidebar">
            {#
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Content'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    {% if section_headers is not empty %}
                    <div class="col-sm-12">
                        {% for header in section_headers %}
                            <p><a href="#{{ header['id'] }}">{{ header['text'] }}</a></p>
                        {% endfor %}
                        <hr />
                    {% endif %}
                    {% if authors is not empty %}
                        <p><a href="#author">{{ 'author.oneormany'|transchoice(authors|length) }}</a></p>
                    {% endif %}
                        <p><a href="#citation">{{ 'Recommended Citation and License Statement'|trans }}</a></p>
                    </div>
                </div>
            </div>
            #}

            {% if interpretations is not empty %}
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'interpretations.oneormany'|transchoice(interpretations|length) }}</h4>
                    </div>
                </div>
                {% for article in interpretations %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(article) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
