{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}
{% import 'AppBundle:Shared:entity-lookup.html.twig' as entityLookup %}

{% block head %}
    {# TODO: move to some shared style-sheet #}
    <style>
    #authors, #license {
        display: none;
    }
    </style>

    {{ entityLookup.head(entity_lookup, glossary_lookup) }}
    <script>
    $(function () {
        initEntityGlossaryNote('.source-description');
        initEntityGlossaryNote('.article');
    })
    </script>
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    {% if authors is not empty %}
        <div class="author">
            <a href="#author">
            {% for author in authors %}
                {{ author.text }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-8">
        {% if source_description is not empty %}
        <h2>{{ 'Source Description'|trans }}</h2>
        {{ source_description|raw }}
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
            {{ 'Content'|trans }}
            </div>
            <div class="panel-body">
            {% if section_headers is not empty %}
                {% for header in section_headers %}
                    <p><a href="#{{ header['id'] }}">{{ header['text'] }}</a></p>
                {% endfor %}
                <hr />
            {% endif %}
            {% if authors is not empty %}
                <p><a href="#author">{{ helper.article_author_aboutlabel(authors) }}</a></p>
            {% endif %}
            <p><a href="#citation">{{ 'Recommended Citation and License Statement'|trans }}</a></p>
            </div>
            {% if related is not empty %}
            {% set source = related[0] %}
            <div class="panel-heading">
                <a href="{{ path('source', { 'uid' : source.uid }) }}">{{ 'Source'|trans }}</a>
            </div>
            {% endif %}
        </div>

        {{ html|raw }}

        {% if authors is not empty %}
        <h2 id="author">{{ helper.article_author_aboutlabel(authors) }}</h2>
            {% for author in authors %}
        <p>{% if author.description is defined %}{{ author.description }}{% else %}{{ author.text }}{% endif %}</p>
            {% endfor %}
        {% endif %}

        {% if related is not empty %}
        {% set source = related[0] %}
        <h3 id="source-link">
            <a href="{{ path('source', { 'uid' : source.uid }) }}">{{ 'Display Source'|trans }} &gt;</a>
        </h3>
        {% endif %}
{#{ dump(meta)}#}
        {{ helper.article_citation(article, meta, authors, name) }}

        {{ helper.article_license(license) }}
        </div><!-- .col -->

        <div class="col-xs-12 col-sm-4 sidebar">
            <h3 class="pdf-link">
                <a href="{{ path(app.request.attributes.get('_route') ~ '-pdf', app.request.attributes.get('_route_params')) }}">{{ 'Print Version'|trans }}</a>
            </h3>

            {% if related is not empty %}
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                    <h4>{{ 'source.oneormany'|transchoice(related|length) }}</h4>
                    </div>
                </div>

                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                    {% for source in related %}
                        <p>{{ helper.article_linked(source) }}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if article.keywords is not empty %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'topic.oneormany'|transchoice(article.keywords|length) }}</h4>
                    </div>
                </div>

                <div class="row box-color-content-inverse">
                {% for topic in article.keywords %}
                    {% set img_slug = slugify.slugify(topic|lookupLocalizedTopic) %}
                    {% set slug = slugify.slugify(topic) %}
                    {% if loop.first %}
                    <div class="col-sm-6">
                        <a href="{{ path('topic-background', { 'slug' : slug }) }}"><img src="{{ asset('img/topic/' ~ img_slug ~ '.jpg') }}" style="width: 100%; height: auto" /></a>
                    </div>
                    <div class="col-sm-6">
                    {% endif %}
                            <p><a href="{{ path('topic-background', { 'slug' : slug }) }}">{{ topic }}</a></p>
                    {% if loop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {#
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Content'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                    {% if section_headers is not empty %}
                        {% for header in section_headers %}
                            <p><a href="#{{ header['id'] }}">{{ header['text'] }}</a></p>
                        {% endfor %}
                        <hr />
                    {% endif %}
                    {% if authors is not empty %}
                        <p><a href="#author">{{ 'author.oneormany'|transchoice(authors|length) }}</a></p>
                    {% endif %}
                        <p><a href="#citation">{{ 'Recommended Citation and License Statement'|trans }}</a></p>
                    </div>
                </div>
            </div>
            #}
        </div>

    </div>
{% endblock %}
