{% extends 'AppBundle:Default:base-printview.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}

{% block head %}
    {# TODO: move to some shared style-sheet #}
    <style>
    @page {
        size: auto;
        /* size: 210mm 297mm;
        */
        margin-header: 10mm;
        margin-top: 22mm;
        /*
        margin-left: 24mm;
        margin-right: 24mm;
        margin-bottom: 32mm; */
        odd-header-name: html_header;
        even-header-name: html_header;
        odd-footer-name: html_footer;
        even-footer-name: html_footer;
    }

    #header-wrapper {
        border-bottom: 1px solid black;
    }

    #author-line {
        text-align: right;
        line-height: 20px;
        background: url(var:logo_top) /* no-repeat */;
        background-image-resize: 2;
        padding-left: 100px; /* so text doesn't run into logo_top */
        margin-bottom: 8px;
    }

    #authors, #license {
        display: none;
    }
    /* reset to bootstrap initials */
    .source-description {
        /* font-size: 14px;
        line-height: 1.42857; */
    }
    /*
    h2 + br {
        display: initial;
        content: "Read this: ";
        border-bottom: 1px solid red;
    }
    */

    body {
        font-family: roboto;
    }

    a {
        text-decoration: none;
    }

    .source-description,
    .article .dta-p, .article span.dta-opener, .article div.dta-closer,
    .article div.dta-bibl
    {
        font-size: 14px;
    }

    .article > div.dta-endnote {
        margin-top: 0;
    }

    /* hide source-description  */
    .article .source-description-head,
    .article .source-description
    {
        display: none;
    }

    /* hide video */
    .article .embed-responsive-16by9
    {
        display: none;
    }

    header {
        color: inherit;
        background-color: inherit;
        margin-top: 0;
        margin-bottom: 36px;
    }

    header h1 {
        margin-top: 0;
        padding-top: 0;
    }

    h1#title {
        margin-top: 4px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 24px;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    h2 {
        clear: left;
        font-weight: bold;
        font-size: 20px;
    }

    h3 {
        font-weight: bold;
        font-size: 16px;
    }

    .author {
        text-align: right;
        color: inherit;
        margin-bottom: 4px;
    }

    .source-description, .source-description-head, h3, .appendix {
        color: #6E6E6E;
    }

    .source-description-head {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }

    /* override some styles from @mixin dta-styles */
    .article .dta-reg, .article .dta-abbr {
        border-bottom: none;
        color: #6E6E6E;
    }

    .article p.dta-p-rtl {
        font-family: 'DejaVu Sans';  /* since Roboto currently lacks Hebrew glyphs */
    }

    .article .dta-fn-intext { vertical-align:super; font-size: 11px }
    .article .dta-fn-sign { vertical-align:super; font-size: 11px }

    dl.dl-horizontal dt {
        font-weight: bold;
        float: left;
        width: 10em;
    }

    dl.dl-horizontal dd {
        float: left;
    }
    </style>
{% endblock %}

{% block body %}
    <htmlpageheader name="header" style="display:none">
        <div id="header-wrapper">
            <div id="author-line">
            {{ name|truncate(70, true, '...') }}
            </div>
        </div>
    </htmlpageheader>
    <htmlpageheader name="headerfirst" style="display:none">
        <div id="author-line">&nbsp;</div>
    </htmlpageheader>
    <htmlpagefooter name="footer" style="display:none">
        <div style="text-align: right">{PAGENO}</div>
    </htmlpagefooter>

    <sethtmlpageheader name="headerfirst" value="on" show-this-page="1" />
    <sethtmlpagefooter name="_blank" value="on" show-this-page="1" />

    <header>
        <h1>
            {{ siteName|trans }}<br />
            <span style="font-size: 14px; font-weight: normal">{{ 'A Digital Source Edition'|trans }}</span>
        </h1>
    </header>

    <h1 id="title">{{ name }}</h1>
    {{ helper.source_meta(meta, null, null, true, interpretations) }}

    {% for layer in layers %}
        {# we start each variant on new page #}
        <h2 style="page-break-before: always">
            {{ layer.label|trans }}
        </h2>
        {{ layer.body|replace({'<body>': '', '</body>': ''})|raw }}
    {% endfor %}

    <div class="appendix">
    {{ helper.source_footer(name, article, license) }}
    </div>
{% endblock %}
