{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}
{% import 'AppBundle:Shared:entity-lookup.html.twig' as entityLookup %}

{% block head %}
    {# TODO: move to some shared style-sheet #}
    <style>
    .article img.img-responsive {
			max-height: 800;
			width: auto;
    }
    </style>

    {# <script src="{{ app.request.basepath }}/js/screenfull.min.js"></script> #}

    {{ entityLookup.head(entity_lookup, glossary_lookup) }}

    <script>
        $( document ).ready(function() {
	        initEntityGlossaryNote('.article');
            initEntityGlossaryNote('.source-description');
        });
    </script>


{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <div class="row">
        <div id="image-viewer-container" class="col-xs-12 col-md-9">
            <div id="media-viewer">
                {{ html|raw }}
            </div>

            {% if description is not null %}
            <h2 id="description">{{ 'Source Description'|trans }}</h2>
            {{ description.html|raw }}
            <a href="{{ path('article', { 'slug' : description.article.getSlug(true) }) }}">{{ 'Read on'|trans }} &gt;</a>
            {% endif %}

            <h3 id="citation">{{ 'Recommended Citation'|trans }}</h3>
            <p>
            {#% if meta.provider is not empty %}
                {{ meta.provider.name }}{% if meta.providerIdno is not empty %}: {{ meta.providerIdno }}{% endif %}{% endif %#}
            {#% if authors is not empty %}
                {% for author in authors %}{{ author.text }}, {% endfor %}
            {% endif %#}
            {{ name }}{% if article.translator is not empty %} ({{ 'translated by'|trans }} {{ article.translator.fullname(true) }}){% endif%}, {{ 'edited in'|trans }}: {{ 'Hamburg Key-Documents of German-Jewish History'|trans }},
            &lt;{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}&gt; [{{ 'now'|date('F d, Y'|trans) }}].</p>

            {% if license is not null %}
            <div>
                {% if license.url is defined %}
                    {% if license.url == "http://creativecommons.org/licenses/by-nc-nd/4.0/" %}
                    <a href="{{ license.url }}" target="_blank"><img src="{{ app.request.basepath }}/img/license/by-nc-nd.eu.svg" height="30" style="float: left; padding-right: 6px;" /></a>
                    {% endif %}
                {% endif %}
                {{ license.text }}
            </div>
            {% endif %}
        </div><!-- .col -->

        <div class="col-xs-12 col-md-3 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Source'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                        <dl>
                        {% if meta.dateCreated is not empty %}
                            <dt>{{ 'Date'|trans }}</dt>
                            <dd>
                                {% if meta.dateCreatedDisplay is not empty %}
                                    {{ meta.dateCreatedDisplay }}
                                {% else %}
                                    {{ meta.dateCreated|dateincomplete }}
                                {% endif %}
                            </dd>
                        {% endif %}
                        {% if meta.contentLocation is not empty %}
                            <dt>{{ 'Place'|trans }}</dt>
                            <dd>
                                {% if meta.contentLocation.id is not empty %}
                                <a href="{% if meta.contentLocation.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : meta.contentLocation.tgn }) }}{% else %}{{ path('place', { 'id' : meta.contentLocation.id }) }}{% endif %}">
                                {{ meta.contentLocation.name }}
                                </a>
                                {% else %}
                                {{ meta.contentLocation.name }}
                                {% endif %}
                            </dd>
                            {% if meta.contentLocation.geo is not empty %}
                            <dt>{{ 'Geo Coordinates'|trans }}</dt>
                            <dd>
                                {{ meta.contentLocation.geo }}
                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.sourceType is not empty%}
                            <dt>{{ 'Source Type'|trans }}</dt>
                            <dd>{{ meta.sourceType }}</dd>
                        {% endif %}
                        {% if meta.creator is not empty %}
                            <dt>{{ 'Creator'|trans }}</dt>
                            <dd>
                                {{ meta.creator  }}
                            </dd>
                        {% endif %}
                        {% if meta.provider is not empty %}
                            <dt>{{ 'Holding Institution'|trans }}</dt>
                            <dd>
                                {% if meta.provider.gnd is not empty %}
                                <a href="{{ path('organization-by-gnd', { 'gnd' : meta.provider.gnd }) }}">{{ meta.provider.name }}</a>
                                {% else %}
                                {{ meta.provider.name }}
                                {% endif %}
                            </dd>
                            {% if meta.providerIdno is not empty %}
                            <dt>{{ 'Signature'|trans }}</dt>
                            <dd>
                                {{ meta.providerIdno }}
                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.rights is not empty %}
                            <dt>{{ 'Rights Statements'|trans }}</dt>
                            <dd>
                                {{ meta.rights  }}
                            </dd>
                        {% endif %}
                        {% if description is not null %}
                            <dt><a href="#description">{{ 'Source Description'|trans }}</a></dt>
                        {% endif %}
                            <dt><a href="#citation">{{ 'Recommended Citation'|trans }}</a></dt>
                        </dl>
                        {#{ dump(meta) }#}
                    </div>
                </div>
            </div>
            {% if interpretations is not empty %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'interpretations.oneormany'|transchoice(interpretations|length) }}</h4>
                    </div>
                </div>
                {% for article in interpretations %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(article) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if related|length > 1 %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'additionalsource.oneormany'|transchoice(related|length - 1) }}</h4>
                    </div>
                </div>
                {% for source in related if source.id != article.id %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(source) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
