{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}
{% import 'AppBundle:Shared:entity-lookup.html.twig' as entityLookup %}

{% block head %}
    <script src="{{ app.request.basepath }}/js/screenfull.min.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-base.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-desktop.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-mets.js"></script>
    <!--<script src=".{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-metadata.js"></script>  -->
    <link href="{{ app.request.basepath }}/viewer/shared/iview2/css/default.css" type="text/css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../META-INF/resources/components/iview/templates/mobile/jquery.mobile-1.3.2.min.css" />     -->

    {# TODO: move to some shared style-sheet #}
    <style>
        /* customize viewer */
        [data-id="RotateButton"],
        [data-id="SidebarControllGroup"],
        [data-id="LayoutControllGroup"],
        [data-id="CloseViewerGroup"],
        .informationBar
        {
            display: none;
        }
    </style>

    {{ entityLookup.head(entity_lookup, glossary_lookup) }}
    <script>
        function setViewerClose(id) {
            var $button = jQuery('[data-id="CloseViewerGroup"] > button');
            var $span = jQuery('[data-id="CloseViewerGroup"] span.glyphicon');
            if (screenfull.isFullscreen) {
                $button.attr('title', '{{ 'Exit Fullscreen Mode'|trans }}');
                $span.removeClass('glyphicon-fullscreen');
                $span.addClass('glyphicon-off');
            }
            else {
                $button.attr('title', '{{ 'View Fullscreen'|trans }}');
                $span.removeClass('glyphicon-off');
                $span.addClass('glyphicon-fullscreen');
            }
        }

        function fullscreenViewer(id) {
            if (screenfull.enabled) {
                document.addEventListener(screenfull.raw.fullscreenchange, function() {
                    setViewerClose(id);
                });
                screenfull.request(document.getElementById(id));
            };
        }

        function resizeViewerDiv() {
            var parentWidth = $('#image-viewer').parent().width();
            if (parentWidth < 640) {
                parentWidth = 640;
            }
            console.log('Set #image-viewer.width(): ' + parentWidth + '-' + $('#image-viewer').parent().width());
            $('#image-viewer').width(parentWidth);
        }

        function createViewer () {
            $( window ).resize(function() { resizeViewerDiv() });
            resizeViewerDiv();

            /**
             *  location: string;
             *  imageXmlPath: string;
             *  tileProviderPath: string;
             *  startImage: string;
             */
            var viewer_options = {
                "mobile": false,
                doctype: "mets",
                metsURL: "{{ app.request.basepath }}/viewer/{{ path }}/{{ mets }}",
                "imageXmlPath": "{{ path('imginfo', {'path' : ''}) }}",
                "derivateContentTransformerServlet": "{{ path('tei2html', {'path' : ''}) }}",
                "tileProviderPath": "{{ app.request.basepath }}/viewer/",
                "filePath": "/{{ firstFacs }}.jpg", // initial facs
                derivate: "{{ path }}",
                i18nURL: "{{ app.request.basepath }}/viewer/shared/iview2/i18n/{lang}.json",
                lang: "{{ app.request.locale }}",
                // pdfCreatorStyle: "pdf",
                // pdfCreatorURI: "http://wrackdm17.thulb.uni-jena.de/mets-printer/pdf",
                // "text.enabled":"true",
                text: {
                    // showOnStart: ["transcription"],
                    enabled: true
                },
                metadataURL: "",
                objId: "",
                webApplicationBaseURL: "{{ app.request.basepath }}/viewer/shared",
                imageOverview : {
                    enabled: true
                },
                chapter: {
                    enabled: true,
                    showOnStart: false
                },
                permalink: {
                    enabled: false /*,
                    updateHistory: true,
                    viewerLocationPattern : "/common-heritage/static/DP9UZA52/viewer/"
                    */
                },
                canvas: {
                    overview: {
                        enabled: false // show page overview when zooming
                    }
                },
                onClose: function() {
                    // toggle fullscreen
                    if (screenfull.isFullscreen) {
                        screenfull.exit();
                    }
                    else {
                        fullscreenViewer('image-viewer');
                    }
                }
            };

            if ($('#image-viewer').width() > 800) {
                viewer_options.text.showOnStart = ["transcription"];
            }

            window["viewer"] = new mycore.viewer.MyCoReViewer(jQuery("#image-viewer"), viewer_options);

            // a bit of a hack - some event or setting would be nicer
            setTimeout(function(){
                jQuery('[data-id="CloseViewerGroup"]').show();
                setViewerClose('image-viewer');

                $('[data-id="ZoomWidthButton"]').click()
            }, 500);
        }

        $( document ).ready(function() {
            initEntityGlossaryNote('.source-description');

            // see http://stackoverflow.com/a/16735080 - other .width() is wrong
            setTimeout(function(){
                createViewer();
            }, 10);
        });
    </script>
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <div class="row">
        <div id="image-viewer-container" class="col-xs-12 col-md-9">
            <div id="image-viewer" style="width: 640px; height: 600px; position: relative;"></div>

            {% if description is not null %}
            <h2 id="description">{{ 'Source Description'|trans }}</h2>
            {{ description.html|raw }}
            <a href="{{ path('article', { 'slug' : description.article.getSlug(true) }) }}">{{ 'Read on'|trans }} &gt;</a>
            {% endif %}

            <h3 id="citation">{{ 'Recommended Citation'|trans }}</h3>
            <p>
            {#% if meta.provider is not empty %}
                {{ meta.provider.name }}{% if meta.providerIdno is not empty %}: {{ meta.providerIdno }}{% endif %}{% endif %#}
            {#% if authors is not empty %}
                {% for author in authors %}{{ author.text }}, {% endfor %}
            {% endif %#}
            {{ name }}{% if article.translator is not empty %} ({{ 'translated by'|trans }} {{ article.translator.fullname(true) }}){% endif%}, {{ 'edited in'|trans }}: {{ 'Key Documents of German-Jewish History'|trans }},
            &lt;{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}&gt; [{{ 'now'|date('F d, Y'|trans) }}].</p>

            {% if license is not null %}
            <div>
                {% if license.url is defined %}
                    {% if license.url == "http://creativecommons.org/licenses/by-nc-nd/4.0/" %}
                    <a href="{{ license.url }}" target="_blank"><img src="{{ app.request.basepath }}/img/license/by-nc-nd.eu.svg" height="30" style="float: left; padding-right: 6px;" /></a>
                    {% endif %}
                {% endif %}
                {{ license.text }}
            </div>
            {% endif %}
        </div><!-- .col -->

        <div class="col-xs-12 col-md-3 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Source'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                        <dl>
                        {% if meta.dateCreated is not empty %}
                            <dt>{{ 'Date'|trans }}</dt>
                            <dd>
                                {% if meta.dateCreatedDisplay is not empty %}
                                    {{ meta.dateCreatedDisplay }}
                                {% else %}
                                    {{ meta.dateCreated|dateincomplete }}
                                {% endif %}
                            </dd>
                        {% endif %}
                        {% if meta.contentLocation is not empty %}
                            <dt>{{ 'Place'|trans }}</dt>
                            <dd>
                                {% if meta.contentLocation.id is not empty %}
                                <a href="{% if meta.contentLocation.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : meta.contentLocation.tgn }) }}{% else %}{{ path('place', { 'id' : meta.contentLocation.id }) }}{% endif %}">
                                {{ meta.contentLocation.name }}
                                </a>
                                {% else %}
                                {{ meta.contentLocation.name }}
                                {% endif %}
                            </dd>
                            {% if meta.contentLocation.geo is not empty %}
                            <dt>{{ 'Geo Coordinates'|trans }}</dt>
                            <dd>
                                {{ meta.contentLocation.geo }}
                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.sourceType is not empty%}
                            <dt>{{ 'Source Type'|trans }}</dt>
                            <dd>{{ meta.sourceType }}</dd>
                        {% endif %}
                        {% if meta.creator is not empty %}
                            <dt>{{ 'Creator'|trans }}</dt>
                            <dd>
                                {{ meta.creator  }}
                            </dd>
                        {% endif %}
                        {% if meta.provider is not empty %}
                            <dt>{{ 'Holding Institution'|trans }}</dt>
                            <dd>
                                {% if meta.provider.gnd is not empty %}
                                <a href="{{ path('organization-by-gnd', { 'gnd' : meta.provider.gnd }) }}">{{ meta.provider.nameLocalized(app.request.locale) }}</a>
                                {% else %}
                                {{ meta.provider.nameLocalized(app.request.locale) }}
                                {% endif %}
                            </dd>
                            {% if meta.providerIdno is not empty %}
                            <dt>{{ 'Signature'|trans }}</dt>
                            <dd>
                                {{ meta.providerIdno }}
                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.url is not empty %}
                            <dt>{{ 'URL'|trans }}</dt>
                            <dd>
                                <a href="{{ meta.url }}" class="break-word" target="_blank">{{ meta.url|prettifyurl }}</a>
                            </dd>
                        {% endif %}
                        {% if meta.rights is not empty %}
                            <dt>{{ 'Rights Statements'|trans }}</dt>
                            <dd>
                                {{ meta.rights  }}
                            </dd>
                        {% endif %}
                        {% if description is not null %}
                            <dt><a href="#description">{{ 'Source Description'|trans }}</a></dt>
                        {% endif %}
                            <dt><a href="#citation">{{ 'Recommended Citation'|trans }}</a></dt>
                        </dl>
                        {#{ dump(meta) }#}
                    </div>
                </div>
            </div>
            {% if interpretations is not empty %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'interpretation.oneormany'|transchoice(interpretations|length) }}</h4>
                    </div>
                </div>
                {% for article in interpretations %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(article) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if related|length > 1 %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'additionalsource.oneormany'|transchoice(related|length - 1) }}</h4>
                    </div>
                </div>
                {% for source in related if source.id != article.id %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(source) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
