{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:helper.html.twig' as helper %}
{% import 'AppBundle:Shared:entity-lookup.html.twig' as entityLookup %}
{% import 'AppBundle:Shared:map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    
    <script src="{{ app.request.basepath }}/js/screenfull.min.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-base.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-desktop.js"></script>
    <script src="{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-mets.js"></script>
    <!--<script src=".{{ app.request.basepath }}/viewer/shared/iview2/js/iview-client-metadata.js"></script>  -->
    <link href="{{ app.request.basepath }}/viewer/shared/iview2/css/default.css" type="text/css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../META-INF/resources/components/iview/templates/mobile/jquery.mobile-1.3.2.min.css" />     -->

    {# TODO: move to some shared style-sheet #}
    <style>
        /* customize viewer */
        [data-id="RotateButton"],
        [data-id="SidebarControllGroup"],
        [data-id="LayoutControllGroup"],
        [data-id="CloseViewerGroup"],
        .informationBar
        {
            display: none;
        }
    </style>

    {{ entityLookup.head(entity_lookup, bibitem_lookup, glossary_lookup) }}
    <script>
        function setViewerClose(id) {
            var $button = jQuery('[data-id="CloseViewerGroup"] > button');
            var $span = jQuery('[data-id="CloseViewerGroup"] span.glyphicon');
            if (screenfull.isFullscreen) {
                $button.attr('title', '{{ 'Exit Fullscreen Mode'|trans }}');
                $span.removeClass('glyphicon-fullscreen');
                $span.addClass('glyphicon-off');
            }
            else {
                $button.attr('title', '{{ 'View Fullscreen'|trans }}');
                $span.removeClass('glyphicon-off');
                $span.addClass('glyphicon-fullscreen');
            }
        }

        function fullscreenViewer(id) {
            if (screenfull.enabled) {
                document.addEventListener(screenfull.raw.fullscreenchange, function() {
                    setViewerClose(id);
                });
                screenfull.request(document.getElementById(id));
            };
        }

        function resizeViewerDiv() {
            var parentWidth = $('#image-viewer').parent().width();
            if (parentWidth < 640) {
                parentWidth = 640;
            }
            console.log('Set #image-viewer.width(): ' + parentWidth + '-' + $('#image-viewer').parent().width());
            $('#image-viewer').width(parentWidth);
        }

        function createViewer () {
            $( window ).resize(function() { resizeViewerDiv() });
            resizeViewerDiv();

            /**
             *  location: string;
             *  imageXmlPath: string;
             *  tileProviderPath: string;
             *  startImage: string;
             */
            var viewer_options = {
                "mobile": false,
                doctype: "mets",
                metsURL: "{{ app.request.basepath }}/viewer/{{ path }}/{{ mets }}",
                "imageXmlPath": "{{ path('imginfo', {'path' : ''}) }}",
                "derivateContentTransformerServlet": "{{ path('tei2html', {'path' : ''}) }}",
                "tileProviderPath": "{{ app.request.basepath }}/viewer/",
                "filePath": "/{{ firstFacs }}.jpg", // initial facs
                derivate: "{{ path }}",
                i18nURL: "{{ app.request.basepath }}/viewer/shared/iview2/i18n/{lang}.json",
                lang: "{{ app.request.locale }}",
                // pdfCreatorStyle: "pdf",
                // pdfCreatorURI: "http://wrackdm17.thulb.uni-jena.de/mets-printer/pdf",
                // "text.enabled":"true",
                text: {
                    // showOnStart: ["transcription"],
                    enabled: true
                },
                metadataURL: "",
                objId: "",
                webApplicationBaseURL: "{{ app.request.basepath }}/viewer/shared",
                imageOverview : {
                    enabled: true
                },
                chapter: {
                    enabled: true,
                    showOnStart: false
                },
                permalink: {
                    enabled: false /*,
                    updateHistory: true,
                    viewerLocationPattern : "/common-heritage/static/DP9UZA52/viewer/"
                    */
                },
                canvas: {
                    overview: {
                        enabled: false // show page overview when zooming
                    }
                },
                onClose: function() {
                    // toggle fullscreen
                    if (screenfull.isFullscreen) {
                        screenfull.exit();
                    }
                    else {
                        fullscreenViewer('image-viewer');
                    }
                }
            };

            if ($('#image-viewer').width() > 800) {
                viewer_options.text.showOnStart = ["transcription"];
            }

            window["viewer"] = new mycore.viewer.MyCoReViewer(jQuery("#image-viewer"), viewer_options);

            // a bit of a hack - some event or setting would be nicer
            setTimeout(function(){
                jQuery('[data-id="CloseViewerGroup"]').show();
                setViewerClose('image-viewer');

                $('[data-id="ZoomWidthButton"]').click()
            }, 500);
        }

        $( document ).ready(function() {
            initEntityGlossaryNote('.source-description');

            // see http://stackoverflow.com/a/16735080 - other .width() is wrong
            setTimeout(function(){
                createViewer();
            }, 10);
        });
    </script>
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <div class="row">
        <div id="image-viewer-container" class="col-xs-12 col-md-9">
            <div id="image-viewer" style="width: 640px; height: 600px; position: relative;"></div>

            {{ helper.source_description_footer(name, article, description, license) }}
        </div><!-- .col -->

        <div class="col-xs-12 col-md-3 sidebar">
            {{ helper.source_sidebar(meta, description, interpretations, related) }}
        </div>
    </div>
{% endblock %}
