<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}"
      prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% if pageTitle is defined %}
            {{ pageTitle }} |
        {% endif %}
        {{ siteName|trans }}
        </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-3.4.0-dist/css/bootstrap.min.css">

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">

        <style>
        @media print {
            /* http://drupal.stackexchange.com/a/59908*/
            a[href]:after {
                content: none;
            }

            img {
                max-height: 360;
            }

            .article .dta-figure p.dta-p {
                font-size: 0.8rem;
            }
        }

        /* mpdf page size, margin and header setup */
        @page {
            size: auto;
            /*
            size: 210mm 297mm;
            */
            margin-header: 10mm;
            margin-top: 22mm;
            /*
            margin-left: 24mm;
            margin-right: 24mm;
            */

            /* increase the following two by 5mm to fit on letter size */
            margin-bottom: 23mm;
            margin-footer: 15mm;

            odd-header-name: html_header;
            even-header-name: html_header;
            odd-footer-name: html_footer;
            even-footer-name: html_footer;
        }

        /* shared styles for source- and article-printview */
        #header-wrapper {
            border-bottom: 1px solid black;
        }

        #author-line {
            text-align: right;
            line-height: 20px;
            background: url(var:logo_top) /* no-repeat */;
            background-image-resize: 2;
            padding-left: 100px; /* so text doesn't run into logo_top */
            margin-bottom: 8px;
        }

        #authors, #license {
            display: none;
        }
        /* reset to bootstrap initials */
        .source-description {
            /* font-size: 14px;
            line-height: 1.42857; */
        }
        /*
        h2 + br {
            display: initial;
            content: "Read this: ";
            border-bottom: 1px solid red;
        }
        */

        body {
            font-family: roboto;
        }

        a {
            text-decoration: none;
        }

        header {
            color: inherit;
            background-color: inherit;
            margin-top: 0;
            margin-bottom: 36px;
        }

        header h1 {
            margin-top: 0;
            padding-top: 0;
        }

        h1#title {
            margin-top: 4px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-size: 24px;
            font-weight: bold;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        h2 {
            clear: left;
            font-weight: bold;
            font-size: 20px;
        }

        h3 {
            font-weight: bold;
            font-size: 16px;
        }

        .author {
            text-align: right;
            color: inherit;
            margin-bottom: 4px;
        }

        .source-description, .source-description-head, h3, .appendix {
            color: #6E6E6E;
        }

        .source-description-head {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
        }

        .source-description,
        .article .dta-p, .article span.dta-opener, .article div.dta-closer,
        .article div.dta-list, .article div.dta-bibl
        {
            font-size: 14px;
        }

        .article div.dta-list {
            padding-left:0em;
        }

        .article > div.dta-endnote {
            margin-top: 0;
        }

        .article .dta-abbr { border-bottom: none }
        </style>

        {% block head %}{% endblock %}
    </head>

    <body role="document" class="route-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
        {% block body %}{% endblock %}
    </body>
</html>
