{% macro list_entity_mentioned_in(articleReferences) %}
{% import _self as helper %}
{% if articleReferences is not empty %}
    <h3>{{ 'Mentioned in'|trans }}</h3>
    <ul>
    {% for articleReference in articleReferences %}
        <li>{{ helper.article_linked(articleReference.article) }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}

{% macro article_linked(article) %}
    {% if 'interpretation' == article.genre %}
        <a href="{{ path('article', { 'slug' : article.getSlug(true) }) }}">
            {{ article.name }}
            {% if article.author|length > 0%}
            ({% for author in article.author %}{{ author.givenName }} {{ author.familyName }}{% endfor %})
            {% endif %}
        </a>
    {% elseif 'source' == article.genre %}
        <a href="{{ path('source', { 'uid' : article.uid }) }}">{{ article.name }}</a>
    {% endif %}
{% endmacro %}

{% macro article_author_aboutlabel(authors) %}
    {% set how_many = authors|length %}
    {% if how_many == 1 and authors|first.gender == 'F' %}{{ 'author.onefemale'|trans }}
    {% else %}{{ 'author.oneormany'|transchoice(how_many) }}{% endif %}
{% endmacro %}

{% macro article_citation(article, meta, authors, name) %}
    <h3 id="citation">{{ 'Recommended Citation and License Statement'|trans }}</h3>
    <p>{% if authors is not empty %}
        {% for author in authors %}{{ author.text }}, {% endfor %}
    {% endif %}
    {{ name }}{% if article.translator is not empty %} ({{ 'translated by'|trans }} {{ article.translator.fullname(true) }}){% endif%}, in: {{ 'Hamburg Key-Documents of German-Jewish History'|trans }}
    {%- if meta.datePublished is not empty %}, {{ meta.datePublished|dateincomplete }}{% if meta.dateModified is not empty and meta.dateModified != meta.datePublished %} ({{'as of'|trans }} {{ meta.dateModified|dateincomplete }}){% endif %}{% endif %}.
    &lt;{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}&gt; [{{ 'now'|date('F d, Y'|trans) }}].</p>
{% endmacro %}

{% macro article_license(license) %}
    {% if license is not null %}
    <div>
        {% if license.url is defined %}
            {% if license.url == "http://creativecommons.org/licenses/by-nc-nd/4.0/" %}
            <a href="{{ license.url }}" target="_blank">
                <img src="{{ app.request.basepath }}/img/license/by-nc-nd.eu.svg" height="30" style="float: left; padding-right: 6px;" />
            </a>
            {% endif %}
        {% endif %}
        {{ license.text }}
    </div>
    {% endif %}
{% endmacro %}
