{% macro list_entity_mentioned_in(articleReferences) %}
    {% import _self as helper %}
    {% if articleReferences is not empty %}
    <h3>{{ 'Mentioned in'|trans }}</h3>
    <ul>
        {% for articleReference in articleReferences %}
        <li>{{ helper.article_linked(articleReference.article) }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

{% macro article_linked(article) %}
    {% if 'interpretation' == article.genre %}
        {% if 'background' == article.articleSection %}
            {% set path = path('topic-background', { 'slug' : article.getSlug(true) }) %}
        {% else %}
            {% set path = path('article', { 'slug' : article.getSlug(true) }) %}
        {% endif %}
        <a href="{{ path }}">
            {{ article.name }}
            {% if article.author|length > 0%}
            ({% for author in article.author %}{{ author.givenName }} {{ author.familyName }}{% if not loop.last %}, {% endif %}{% endfor %})
            {% endif %}
        </a>
    {% elseif 'source' == article.genre %}
        <a href="{{ path('source', { 'uid' : article.uid }) }}">{{ article.name }}</a>
    {% endif %}
{% endmacro %}

{% macro article_author_aboutlabel(authors) %}
    {% set all_female = true %}
    {% for author in authors if all_female %}
        {% if author.gender != 'F' %}{% set all_female = false %}{% endif %}
    {% endfor %}
    {% set how_many = authors|length %}
    {% if all_female %}{{ 'author.oneormany-female'|transchoice(how_many) }}
    {% else %}{{ 'author.oneormany'|transchoice(how_many) }}{% endif %}
{% endmacro %}

{% macro article_authors(authors) %}
    {% import _self as helper %}
    {% if authors is not empty %}
    <h3 id="author">{{ helper.article_author_aboutlabel(authors) }}</h3>
        {% for author in authors %}
        <p>{{ author.description|converturls }}</p>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro article_citation(article, meta, authors, name) %}
    {% set params = app.request.attributes.get('_route_params') %}
    {% if article.articleSection != 'background' and article.uid is not empty %}
        {% set params = params|merge({ 'slug' : article.uid }) %}
    {% endif %}
    <h3 id="citation">{{ 'Recommended Citation and License Statement'|trans }}</h3>
    <p>{% if authors is not empty %}
        {% for author in authors %}{{ author.text|trim }}, {% endfor %}
    {% endif %}
    {{ name }}{% if article.translator is not empty %} ({{ 'translated by'|trans }} {{ article.translator.fullname(true) }}){% endif%}, in: {{ siteName|trans }}
    {%- if meta.datePublished is not empty %}, {{ meta.datePublished|dateincomplete }}{% if meta.dateModified is not empty and meta.dateModified != meta.datePublished %} ({{'as of'|trans }} {{ meta.dateModified|dateincomplete }}){% endif %}{% endif %}.
    &lt;{% if article.doi is not empty and not ('10.5072' in article.doi) %}<a href="https://dx.doi.org/{{ article.doi }}">https://dx.doi.org/{{ article.doi }}</a>{% else %}{{ url(app.request.attributes.get('_route')|replace({ '-pdf' : ''}), params) }}{% endif %}&gt; [{{ 'now'|date('F d, Y'|trans) }}].</p>
{% endmacro %}

{% macro article_license(license) %}
    {% if license is not null %}
    <div>
        {% if license.url is defined %}
            {% if license.url == "http://creativecommons.org/licenses/by-nc-nd/4.0/" %}
            <a href="{{ license.url }}" target="_blank">
                <img src="{{ app.request.basepath }}/img/license/by-nc-nd.eu.svg" height="30" style="float: left; padding-right: 6px;" />
            </a>
            {% endif %}
        {% endif %}
        {{ license.text }}
    </div>
    {% endif %}
{% endmacro %}

{% macro source_box(source) %}
    {% set path = path('source', { 'uid' : source.uid }) %}
    <div class="panel panel-default source-box">
        <div class="panel-heading  sourcetype-icon {% if source.sourceType is not empty %}sourcetype-{{ source.sourceType|lower }}{% endif %}">
        {% if source.dateCreated is not empty %}
            {% if source.dateCreatedDisplay is not empty %}{{ source.dateCreatedDisplay }}{% else %}{{ source.dateCreated|dateincomplete }}{% endif %}
            {%- if source.contentLocation is not empty %}, {% endif %}
        {% endif %}
        {% if source.contentLocation is not empty %}
            {% if source.contentLocation.id is not empty %}
                <a href="{% if source.contentLocation.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : source.contentLocation.tgn }) }}{% else %}{{ path('place', { 'id' : source.contentLocation.id }) }}{% endif %}">
                {{ source.contentLocation.name }}
                </a>
            {% else %}
                {{ source.contentLocation.name }}
            {% endif %}
        {% endif %}
        </div>
        <div class="panel-body">
            <h5><a href="{{ path }}">{{ source.name }}</a></h5>
            {% set thumb = "/viewer/source-%05d/thumb.jpg"|format(source.uid|replace({'jgo:source-' : ''})) %}
            {% if file_exists(webDir ~ thumb) %}
            <div style="max-height: 125px; width: 35%; padding-right: 24px; overflow: hidden; float: left;">
                <a href="{{ path }}"><img src="{{ app.request.basepath }}{{ thumb }}" alt="" style="width: 100%; height: auto;"></a>
            </div>
        {% endif %}
        {% if source.isPartOf is not null %}
            {% set description = source.isPartOf.description %}
            {% if description is not empty %}
                <div style="font-size: 90%">
                {{ description|truncate(300, true, '') }}
                ... <a href="{{ path }}">{{ 'Show Source'|trans }} &gt;</a>
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro source_description_footer(name, article, description, license) %}
            {% if description is not null %}
            <h2 id="description">{{ 'Source Description'|trans }}</h2>
            {{ description.html|raw }}
            <a href="{{ path('article', { 'slug' : description.article.getSlug(true) }) }}">{{ 'Read on'|trans }} &gt;</a>
            {% endif %}

            <h3 id="citation">{{ 'Recommended Citation'|trans }}</h3>
            <p>
            {{ name }}{% if article.translator is not empty %} ({{ 'translated by'|trans }} {{ article.translator.fullname(true) }}){% endif%}, {{ 'edited in'|trans }}: {{ siteName|trans }},
            &lt;{% if article.doi is not empty and not ('10.5072' in article.doi) %}<a href="https://dx.doi.org/{{ article.doi }}">https://dx.doi.org/{{ article.doi }}</a>{% else %}{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{% endif %}&gt; [{{ 'now'|date('F d, Y'|trans) }}].</p>

            {% if license is not null %}
            <div>
                {% if license.url is defined %}
                    {% if license.url == "http://creativecommons.org/licenses/by-nc-nd/4.0/" %}
                    <a href="{{ license.url }}" target="_blank"><img src="{{ app.request.basepath }}/img/license/by-nc-nd.eu.svg" height="30" style="float: left; padding-right: 6px;" /></a>
                    {% endif %}
                {% endif %}
                {{ license.text }}
            </div>
            {% endif %}
{% endmacro %}

{% macro source_sidebar(meta, description, interpretations, related) %}
    {% import _self as helper %}
    {% import 'AppBundle:Shared:map-leaflet.html.twig' as map %}
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Source'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                        <dl>
                        {% if meta.dateCreated is not empty %}
                            <dt>{{ 'Date'|trans }}</dt>
                            <dd>
                                {% if meta.dateCreatedDisplay is not empty %}
                                    {{ meta.dateCreatedDisplay }}
                                {% else %}
                                    {{ meta.dateCreated|dateincomplete }}
                                {% endif %}
                            </dd>
                        {% endif %}
                        {% if meta.contentLocation is not empty %}
                            <dt>{{ 'Place'|trans }}</dt>
                            <dd>
                                {% if meta.contentLocation.id is not empty %}
                                <a href="{% if meta.contentLocation.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : meta.contentLocation.tgn }) }}{% else %}{{ path('place', { 'id' : meta.contentLocation.id }) }}{% endif %}">
                                {{ meta.contentLocation.name }}
                                </a>
                                {% else %}
                                {{ meta.contentLocation.name }}
                                {% endif %}
                            </dd>
                            {% set geo = meta.geo %}
                            {% if geo is not empty or meta.contentLocation.geo is not empty %}
                            <dt>{{ 'Geo Coordinates'|trans }}</dt>
                            <dd>
                                {% if geo is empty %}
                                    {% set geo = meta.contentLocation.geo %}
                                {% endif %}
                                <a href="#" style="word-wrap: break-word" id="mapToggle" title="{{ 'Show Map'|trans }}" onclick="toggleMap(); return false">{{ geo }}</a>
                                <div id="map" style="display: none; width: 100%; height: 240px"></div>
                                <script>
                                    var loaded = false;

                                    function adjustMapSize() {
                                        /*
                                        $('#map').height(function(index, height) {
                                            return window.innerHeight - $(this).offset().top;
                                        });
                                        */
                                    }

                                    function toggleMap() {
                                        $('#map').toggle();

                                        if (!loaded) {
                                            $( window ).resize(adjustMapSize);
                                            adjustMapSize();

                                            var map = L.map('map');

                                            L.marker([ {{ geo }} ]).addTo(map);
                                            map.setView([{{ geo }}], 11);

                                            {{ map.addTileLayer() }}

                                            loaded = true;
                                        }

                                        var isHidden = $( '#map' ).is( ":hidden" );
                                        $('#mapToggle').attr('title',
                                                             isHidden
                                                             ? {{ 'Show Map'|trans|json_encode|raw }}
                                                             : {{ 'Hide Map'|trans|json_encode|raw }});
                                    }
                                </script>

                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.sourceType is not empty%}
                            <dt>{{ 'Source Type'|trans }}</dt>
                            <dd>{{ meta.sourceType }}</dd>
                        {% endif %}
                        {% if meta.creator is not empty %}
                            <dt>{{ 'Creator'|trans }}</dt>
                            <dd>
                                {{ meta.creator  }}
                            </dd>
                        {% endif %}
                        {% if meta.provider is not empty %}
                            <dt>{{ 'Holding Institution'|trans }}</dt>
                            <dd>
                                {% if meta.provider.gnd is not empty %}
                                <a href="{{ path('organization-by-gnd', { 'gnd' : meta.provider.gnd }) }}">{{ meta.provider.nameLocalized(app.request.locale) }}</a>
                                {% else %}
                                {{ meta.provider.nameLocalized(app.request.locale) }}
                                {% endif %}
                            </dd>
                            {% if meta.providerIdno is not empty %}
                            <dt>{{ 'Signature'|trans }}</dt>
                            <dd>
                                {{ meta.providerIdno }}
                            </dd>
                            {% endif %}
                        {% endif %}
                        {% if meta.url is not empty %}
                            <dt>{{ 'URL'|trans }}</dt>
                            <dd>
                                <a href="{{ meta.url }}" class="break-word" target="_blank">{{ meta.url|prettifyurl }}</a>
                            </dd>
                        {% endif %}
                        {% if meta.rights is not empty %}
                            <dt>{{ 'Rights Statements'|trans }}</dt>
                            <dd>
                                {{ meta.rights|converturls|nl2br  }}
                            </dd>
                        {% endif %}
                        {% if meta.licenseAllowsDownload()  %}
                            <dt>{{ 'Download'|trans }}</dt>
                            <dd>
                                <a href="{{ path('source-download', { 'uid': meta.uid }) }}">
                                    {{ 'Download for scholarly or private use'|trans }}
                                </a>
                            </dd>
                        {% endif %}
                        {% if description is not null %}
                            <dt><a href="#description">{{ 'Source Description'|trans }}</a></dt>
                        {% endif %}
                            <dt><a href="#citation">{{ 'Recommended Citation'|trans }}</a></dt>
                        </dl>
                        {#{ dump(meta) }#}
                    </div>
                </div>
            </div>
            {% if interpretations is not empty %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'interpretation.oneormany'|transchoice(interpretations|length) }}</h4>
                    </div>
                </div>
                {% for article in interpretations %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(article) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if related|length > 1 %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'additionalsource.oneormany'|transchoice(related|length - 1) }}</h4>
                    </div>
                </div>
                {% for source in related if source.id != article.id %}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {{ helper.article_linked(source) }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
{% endmacro %}
