{% extends '@TeiEdition/Default/base.html.twig' %}

{% block body %}
    <h1>{{ 'Places' | trans }}</h1>
    <div class="row">
        <div class="col-sm-12">
        {% if places is not empty %}
        {% set last_initial = '' %}
        {% for place in places %}
            {% set initial = slugify.slugify(place.name|first)|upper %}
            {% if initial != last_initial %}
                {% if last_initial != '' %}
            </ul>
                {% endif %}
            <h2>{{ initial }} </h2>
            {% set last_initial = initial %}
            <ul class="list-unstyled">
            {% endif %}
            <li>
                <a href="{% if place.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : place.tgn }) }}{% else %}{{ path('person', { 'id' : person.id }) }}{% endif %}">
                    {{ place.nameLocalized(app.request.locale) }}
                </a>
                {% if place.children|length > 0 %}
                    <ul>
                        {% for child in place.children %}
                        <li><a href="{% if child.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : child.tgn }) }}{% else %}{{ path('place', { 'id' : child.id }) }}{% endif %}">
                            {{ child.name }}
                        </a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
            Es wurden keine Orte gefunden
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
