{% extends 'AppBundle:Default:base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style>
    #map-container {
        /* margin-left: auto;
        margin-right: auto; */
        width: 100%;
        min-height: 600px;
        border: 1px solid white;
    }
    #map {
        width: 100%;
        height: 600px;
    }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?language=de"></script>
    <script src="{{ app.request.basepath }}/js/markerclusterer.js"></script>
    <script type="text/javascript">
    function instantiateGoogleMap(map_id, center, zoom)
    {
        var googleMapSettings = {
            // center: center,
            zoom: 6,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            },
            scaleControl: false,
            scrollwheel: true,
            panControl: false,
            streetViewControl: true,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
              {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                  { "color": "#d3d3d3" }
                ]
              },{
                "featureType": "transit",
                "stylers": [
                  { "color": "#808080" },
                  { "visibility": "off" }
                ]
              },{
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  { "visibility": "on" },
                  { "color": "#b3b3b3" }
                ]
              },{
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                  { "color": "#ffffff" }
                ]
              },{
                "featureType": "road.local",
                "elementType": "geometry.fill",
                "stylers": [
                  { "visibility": "on" },
                  { "color": "#ffffff" },
                  { "weight": 1.8 }
                ]
              },{
                "featureType": "road.local",
                "elementType": "geometry.stroke",
                "stylers": [
                  { "color": "#d7d7d7" }
                ]
              },{
                "featureType": "poi",
                "elementType": "geometry.fill",
                "stylers": [
                  { "visibility": "on" },
                  { "color": "#ebebeb" }
                ]
              },{
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                  { "color": "#a7a7a7" }
                ]
              },{
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [
                  { "color": "#ffffff" }
                ]
              },{
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [
                  { "color": "#ffffff" }
                ]
              },{
                "featureType": "landscape",
                "elementType": "geometry.fill",
                "stylers": [
                  { "visibility": "on" },
                  { "color": "#efefef" }
                ]
              },{
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [
                  { "color": "#696969" }
                ]
              },{
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                  { "visibility": "on" },
                  { "color": "#737373" }
                ]
              },{
                "featureType": "poi",
                "elementType": "labels.icon",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "poi",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "road.arterial",
                "elementType": "geometry.stroke",
                "stylers": [
                  { "color": "#d6d6d6" }
                ]
              },{
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
              },{
                "featureType": "poi",
                "elementType": "geometry.fill",
                "stylers": [
                  { "color": "#dadada" }
                ]
              }
            ]
        };
        googleMapSettings.center = center;
        googleMapSettings.zoom = zoom;
        return new google.maps.Map(document.getElementById(map_id), googleMapSettings);
    }

    google.maps.event.addDomListener(window, 'load',
        function () {
            var center = new google.maps.LatLng(51.163375, 10.447683);
            var map = instantiateGoogleMap('map', center, 6);

            var iconBase = '{{ app.request.basepath }}/img/';
            // see https://developers.google.com/maps/documentation/javascript/examples/icon-complex?hl=en
            var markerIcon = {
                    url: iconBase + "marker_medium.svg",
                    anchor: new google.maps.Point(7,20),
                    // scaledSize: new google.maps.Size(14,20)
                    // size: new google.maps.Size(14,20)
                    size: new google.maps.Size(22,32)
            };

            var markers = [];
            var infowindow = new google.maps.InfoWindow({
                content: ''
            });
            var data = {"locations":[{"id":52,"name":"Bauhaus Dessau","locality":"Dessau","latitude":"51.83933755","longitude":"12.22744159","infowindow":"<a href=\"#\">Some Source</a>"},
                                                {"id":63,"name":"Freie Akademie der K\u00fcnste","locality":"Hamburg","latitude":"53.54854645","longitude":"10.00665435","infowindow":"<a href=\"#\"><b>Schreiben an Schlachthof- und Viehmarktverwaltung, Hamburg, 9.10.1930</b></a>"}
                                    ]};
            for (var i = 0; i < data.locations.length; i++) {
              var dataLocation = data.locations[i];
              var latLng = new google.maps.LatLng(dataLocation.latitude,
                  dataLocation.longitude);
              var marker = new google.maps.Marker({
                position: latLng,
                html: dataLocation.infowindow,
                // icon: iconBase + 'marker.png'
                icon: markerIcon
              });
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(this.html);
                infowindow.open(map, this);
              });

              markers.push(marker);
            }

            var mcMarker = {
                url: "{{ app.request.basepath }}/img/markerclusterer/m1.png",
                width: 53,
                height: 52
            };

            // 5 times same red marker
            var mcOptions = { styles: [ mcMarker, mcMarker, mcMarker, mcMarker, mcMarker ]};
            var markerCluster = new MarkerClusterer(map, markers, mcOptions);
        }
    );
    </script>
{% endblock %}

{% block body %}
<div class="row">
    <!--
    <div class="col-sm-3">
        {{ 'Filter Results'|trans }}

        <div class="container-fluid">
            <div class="row box-color-title">
                {{ 'Chronology'|trans|upper }}
            </div>
            <div class="row box-color-title">
                {{ 'Topics'|trans|upper }}
            </div>
            <div class="row box-color-title">
                {{ 'Type of Material'|trans|upper }}
            </div>
        </div>
    </div>-->
    <div class="col-sm-12">
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}