{% extends 'AppBundle:Default:base.html.twig' %}

{% import 'AppBundle:Shared:map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    {{ map.head_markercluster() }}
{% endblock %}

{% block contenttop %}
{% embed 'AppBundle:Default:contenttop_skeleton.html.twig' %}

{% block carousel %}
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"   data-interval="10000">
            <!-- Indicators
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active hidden-xs"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class="hidden-xs"></li>
            </ol>
            -->

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ app.request.basepath }}/img/carousel/home.jpg" alt="" style="width: 100%; height: auto; min-height: 90px;">
                    <!--
                <div class="carousel-caption">

                  <h4><a target="_blank" href="http://igdj-hh.de/event-details-kopie/feierlicher-jubilaeums-empfang-zum-50-geburtstag-das-igdj-wird-digital.html">Feierlicher Jubiläums-Empfang: „Zum 50. Geburtstag: Das IGdJ wird digital“</a></h4>
                </div>-->
              </div>
              <!--
              <div class="item">
                <img src="{{ app.request.basepath }}/img/carousel/schaechten.jpg" alt="Neue Quelle" style="width: 100%; height: auto; min-height: 90px;">
                <div class="carousel-caption">
                  <h4><a href="{{ path('source', { 'uid' : 'jgo:source-15' }) }}">Neue Quelle: Schreiben an Schlachthof- und Viehmarktverwaltung</a></h4>
                </div>
              </div>
              -->
              <!--
              <div class="item">
                <img src="{{ app.request.basepath }}/img/carousel/filmclub.jpg" alt="Filmclub" style="width: 100%; height: auto; min-height: 90px;">
                <div class="carousel-caption">
                  <h4 style="background-color: black; opacity:0.9;">Filmclub: Donnerstag, 18.02.2016 19.00 Uhr
      GOD’S NEIGHBORS - HA-MASHGIHIM</h4>
                </div>
              </div>
              -->
            </div><!-- .carousel-inner -->

            <!-- Controls -->
            <!--
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            -->
        </div><!-- .carousel -->
    </div>
{% endblock %}

{% endembed %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <div class="container-fluid">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ 'Welcome'|trans }}</a></li>
                    <li role="presentation"><a href="#topic" aria-controls="topic" role="tab" data-toggle="tab">{{ 'Topics'|trans }}</a></li>
                    <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">{{ 'Map'|trans }}</a></li>
                    <li role="presentation"><a href="#chronology" data-url="{{ path('date-chronology-partial') }}" aria-controls="chronology" role="tab" data-toggle="tab">{{ 'Chronology'|trans }}</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="two-columns justify-hyphens">
{% if 'en' == app.request.locale %}
    <p>This online source edition published by the Institute for the History of German Jews (IGdJ) uses a selection of sources, so-called <a href="{{ path('about-keydocuments') }}">key documents</a>, to thematically highlight central aspects in Hamburg’s Jewish history from the early modern age to the present. The editors consider Hamburg as a lens for larger developments and questions in German-Jewish history. The source edition aims to help digitally reunite the city’s Jewish heritage, scattered all over the world due to persecution and migration, and to make it accessible and preserve it for future generations.</p>

    <p>By presenting previously little studied sources and putting familiar archival documents in new contexts and formats we hope to give thought-provoking impulses and encourage new lines of study. The sources are at the center of this project, inspiring discussion about specific interpretations and categorizations.<br />
     Transcripts as well as digital facsimiles are provided for all sources, which are placed in historical context by interpretations and background information. The source material is further enriched by information on its provenance, historical responses to it, and scholarly controversies. All content is provided in both German and English.</p>

    <p>The <a href="{{ path('about-audience') }}">target audience</a> for this source edition is college students, researchers and teachers, as well as the interested public and high school students. It covers a spectrum ranging from more general, introductory texts to those developing their argument by a close study of the source, and it offers different ways of approaching the texts – through a <a href="{{ path('date-chronology') }}">timeline</a>, a <a href="{{ path('topic-index') }}">specific topic</a> or a <a href="{{ path('place-map') }}">map</a>. The project is supported by an <a href="{{ path('about-board') }}">advisory board</a> consisting of renowned scholars of German-Jewish history and experts in the field of digitization.</p>

    <p>The online edition receives funding from the <a href="http://dfg.de/">Deutsche Forschungsgemeinschaft</a> for a two-year period that began in July 2015. With this edition the IGdJ once again fulfils its role as an institution serving as link between scholarship and the interested public.</p>

{% else %}
    <p>Die vom Institut für die Geschichte der deutschen Juden (IGdJ) realisierte Online-Quellenedition wirft am Beispiel von ausgewählten Quellen, sogenannten <a href="{{ path('about-keydocuments') }}">Schlüsseldokumenten</a>, thematische Schlaglichter auf zentrale Aspekte der jüdischen Geschichte Hamburgs von der frühen Neuzeit bis in die Gegenwart. Die Redaktion versteht Hamburg dabei als Brennglas für größere Entwicklungen und Fragestellungen der deutsch-jüdischen Geschichte. Die Quellenedition möchte dazu beitragen, das aufgrund von Verfolgung und Migration in alle Welt verstreute jüdische Erbe der Stadt digital wieder zusammenzuführen, zugänglich zu machen und für zukünftige Generationen zu bewahren.</p>

    <p>Durch die Präsentation von bislang weniger beachtetem Quellenmaterial sowie die neuartige Anordnung und Aufbereitung bekannter Archivalien sollen Denkanstöße gegeben und neue Fragestellungen angeregt werden. Die Quelle steht im Mittelpunkt, von ihr ausgehend soll die Auseinandersetzung über konkrete Deutungen und Einordnungen gefördert werden.<br />
Alle Quellen werden als Transkript und digitales Faksimile bereitgestellt und durch Interpretations- und Hintergrundtexte in ihre historischen Kontexte eingebettet. Angereichert werden die Materialien durch Informationen zur Überlieferung, zur Rezeptionsgeschichte und zu wissenschaftlichen Kontroversen. Alle Inhalte werden sowohl auf Deutsch als auch auf Englisch angeboten.</p>

    <p>Die Quellenedition <a href="{{ path('about-audience') }}">richtet sich an Studierende, Forschende und Lehrende, teilweise auch an Laien sowie Schülerinnen und Schüler</a>. Sie deckt dabei ein Spektrum von eher allgemeinen, überblicksartigen bis hin zu eng an der Quelle argumentierenden Texten ab und bietet verschiedene Zugänge zu den Quellen an – über einen <a href="{{ path('date-chronology') }}">Zeitstrahl</a>, <a href="{{ path('topic-index') }}">Themenkategorien</a> oder eine <a href="{{ path('place-map') }}">Karte</a>. Ein <a href="{{ path('about-board') }}">Beirat</a> aus renommierten Wissenschaftlerinnen und Wissenschaftlern der deutsch-jüdischen Geschichte und Expertinnen und Experten aus dem Bereich Digitalisierung unterstützt das Projekt.</p>

    <p>Die Online-Edition wird seit Juli 2015 für zwei Jahre von der <a href="http://dfg.de/">Deutschen Forschungsgemeinschaft</a> gefördert. Mit der Edition präsentiert sich das IGdJ erneut in seiner Rolle als Verbindungsglied zwischen Wissenschaft und interessierter Öffentlichkeit.</p>
{% endif %}
                        </div><!-- .two-columns -->
                    </div><!-- .tab-pane -->

                    <div role="tabpanel" class="tab-pane" id="topic">
                    {% for slug,topicDescr in topics %}
                        <div class="col-sm-4 col-xs-6 topic">
                            {% if topicDescr.article is not empty %}
                            <a href="{{ path('topic-background', { 'slug' : topicDescr.article }) }}">
                            {% endif %}
                                <h4>
                                    <div class="topic-label">{{ topicDescr.label }}</div>
                                </h4>
                                <img src="{{ asset('img/topic/' ~ slug ~ '.jpg') }}" style="width: 100%; height: auto" />
                            {% if topicDescr.article is not empty %}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div><!-- .tab-pane -->

                    <div role="tabpanel" class="tab-pane" id="map">
                        <div id="map-container">
                            <div id="map" style="width: 100%; min-height: 360px"></div>
                            <script>

                            var chronologyLoaded = false;

                            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                              var target = $(e.target).attr("href") // activated tab
                              if ('#map' == target) {
                                if (map != null) {
                                    map.invalidateSize(false);
                                }
                                else {
                                    showMap();
                                }
                              }
                              else if ('#chronology' == target) {
                                if (!chronologyLoaded) {
                                    var url = $(this).attr("data-url");
                                    var pane = $(this), href = this.hash;

                                    // ajax load from data-url
                                    $(href).load(url,function(result){
                                        pane.tab('show');
                                        chronologyLoaded = true;
                                    });
                                }
                              }
                            });

                            {{ map.showMap(bounds, markers) }}
                            </script>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="chronology">
                        {{ 'Loading...' | trans }}
                    </div>
                </div>
            </div><!-- .container-fluid -->
        </div>

        <div class="col-sm-4 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Source of the Month'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-4">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-23' }) }}"><img src="{{ app.request.basepath }}/viewer/source-00023/thumb.jpg" style="width: 100%; height: auto" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-23' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Dibere Haberith or: Letters ... concerning the erection of the “New Temple-Association” in Hamburg</b>, Altona, 1819
                        {% else %}
                        <b>Dibere Haberith oder: Briefe ... über den in Hamburg von einigen Individuen der dasigen Israelitischen Gemeinde ... errichteten „Neuen Tempel-Verein“</b>, Altona, 1819
                        {% endif %}
                        </a>

                        <p>
                        <a href="{{ path('article', { 'slug' : 'jgo:article-24' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Source Interpretation</b> by
                        {% else %}
                        <b>Interpretation</b> von
                        {% endif %}
                        Philipp Lenhard
                        </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'New Sources'|trans }}</h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-4">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-150' }) }}"><img src="{{ app.request.basepath }}/viewer/source-00150/thumb.jpg" style="width: 100%; height: auto" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-150' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Bernhard Heßlein, The Israelite Free School in Hamburg (conclusion), in: Der Orient, 4 (1843) 5, p. 33-34</b>
                        {% else %}
                        <b>Bernhard Heßlein, Die israelitische Freischule in Hamburg (Schluß), in: Der Orient, 4 (1843) 5, S. 33-34</b>
                        {% endif %}
                        </a>

                        <p>
                        <a href="{{ path('article', { 'slug' : 'jgo:article-196' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Source Interpretation</b> by
                        {% else %}
                        <b>Interpretation</b> von
                        {% endif %}
                        Carsten Schapkow
                        </a>
                        </p>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-4">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-132' }) }}"><img src="{{ app.request.basepath }}/viewer/source-00132/thumb.jpg" style="width: 100%; height: auto" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-132' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>The Memoirs of Cantor Joseph Cysner: Testimonials of the Polenaktion and His Zbąszyń Internment</b>, Zbąszyń, October 30, 1938
                        {% else %}
                        <b>Die Memoiren des Kantors Joseph Cysners Memoiren: Zeugnis der „Polenaktion“ und seiner Internierung in Zbaszyn</b>, Zbąszyń, 30.10.1938
                        {% endif %}
                        </a>

                        <p>
                        <a href="{{ path('article', { 'slug' : 'jgo:article-94' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Source Interpretation</b> by
                        {% else %}
                        <b>Interpretation</b> von
                        {% endif %}
                        Bonnie M. Harris
                        </a>
                        </p>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-4">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-1' }) }}"><img src="{{ app.request.basepath }}/viewer/source-00001/thumb.jpg" style="width: 100%; height: auto" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ path('source', { 'uid' : 'jgo:source-1' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Speech by Gustav Tuch, President of the Henry Jones Lodge</b>, Hamburg, August 28, 1904
                        {% else %}
                        <b>Gustav Tuch, Festrede des Präsidenten der Henry Jones-Loge</b>, Hamburg, 28.8.1909
                        {% endif %}
                        </a>

                        <p>
                        <a href="{{ path('article', { 'slug' : 'jgo:article-167' }) }}">
                        {% if 'en' == app.request.locale %}
                        <b>Source Interpretation</b> by
                        {% else %}
                        <b>Interpretation</b> von
                        {% endif %}
                        Rebekka Großmann
                        </a>
                        </p>
                    </div>
                </div>
            </div>

            {% if news is not empty %}
            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4><a href="{{ path('about-news') }}">{{ 'Project News'|trans }}</a></h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse menu">
                    <div class="col-sm-12">
                    <ul>
                    {% for article in news %}
                        <li>
                            {% if loop.last and loop.index >= 4 %}
                            <a href="{{ path('about-news') }}#{{ article.slug }}">{{ 'More'|trans }} &gt;</a>
                            {% else %}
                            <b><a href="{{ path('about-news') }}#{{ article.slug }}">{{ article.name|raw }}</b> ({{ article.datePublished|dateincomplete }})
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="container-fluid box top-buffer">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4><a href="{{ app.request.basepath }}/pdf/Guide-to-the-Digital-Source-Edition.pdf">{{ 'Guide to the Digital Source Edition'|trans }}</a></h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-xs-4">
                        <a href="{{ app.request.basepath }}/pdf/Guide-to-the-Digital-Source-Edition.pdf"><img src="{{ app.request.basepath }}/img/icon/pdf.png" /></a>
                    </div>
                    <div class="col-xs-8">
                        <a href="{{ app.request.basepath }}/pdf/Guide-to-the-Digital-Source-Edition.pdf"><img src="{{ app.request.basepath }}/pdf/Guide-to-the-Digital-Source-Edition.png" style="width: 100%; height: auto" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
