{% extends '@TeiEdition/Default/base.html.twig' %}

{% import '@TeiEdition/Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <ul class="list-inline switch">
        <li id="switch-article-index"><a href="{{ path('article-index') }}">{{ 'Sort by Author'|trans }}</a></li>
        <li id="switch-article-index-date"><a href="{{ path('article-index-date') }}">{{ 'Sort by Date'|trans }}</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-8">
        {% if articles is not empty %}
        {% for article in articles %}
            {% if app.request.attributes.get('_route') == 'article-index-date' %}
                {% set initial = article.datePublished|date("m.Y") %}
            {% else %}
                {% set initial = slugify.slugify(article.creator|first)|upper %}
            {% endif %}
            {% if initial != last_initial %}
                {% if last_initial != '' %}
            </ul>
                {% endif %}
            <h2>{{ initial }} </h2>
            {% set last_initial = initial %}
            <ul class="list-unstyled">
            {% endif %}
            <li>
                {{ helper.article_linked_full(article) }}
            </li>
        {% endfor %}
            </ul>
        {% else %}
            Es wurden keine Artikel gefunden
        {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            <a class="rss" href="{{ path('article-index-rss') }}">
                {{ 'Subscribe to new Articles (RSS)'|trans }}
            </a>
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4><a href="{{ path('about-cfp') }}">{{ 'Become an Author'|trans }}</a></h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                        {% if 'en' == app.request.locale %}
                        More sources and interpretative texts are planned to be successively published on the website of the digital source edition. Therefore, we welcome articles in all thematic categories, as long as they are connected to the Jewish history of Hamburg.
                        <a href="{{ path('about-cfp') }}">Read on...</a>
                        {% else %}
                        Sukzessive sollen weitere Quellen und Interpretationstexte auf der
Website der Online-Quellenedition bereit gestellt werden. Hierfür werden Beiträge in allen Themenbereichen gesucht. Wichtig ist ein Bezug zur jüdischen Geschichte Hamburgs. <a href="{{ path('about-cfp') }}">Weiterlesen...</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .row -->
{% endblock %}
